@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  height: 95vh;
}

@media screen and (max-width: 600px) {
  .App {
    height: auto;
  }
}

.row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}

.cell {
  border: 1px solid black;
  max-width: 100px;
  max-height: 100px;
  min-width: 25px;
  min-height: 25px;
  background-color: lightcyan;
  display: flex;
  flex-grow: 1;
}

.alternate_cell{
  background-color: white;
}

.cell:hover {
  background-image: url(./images/knight.PNG);
  background-size: cover;
  opacity: 10%;
}

.legend, .legend > p {
  margin: 10px;
  text-align: center;
  display: inline;
  font-weight: bolder;
  font-size: 1em;
}

.legend div {
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  color: green;
  background-color: green;
}